<p>
  <b>Title:</b>
  <%= @workout.title %>
</p>

<p>
  <b>Description:</b>
  <%= @workout.description %>
</p>

<% if @workout.mp3_intro %>
<p>
  <b>Intro MP3:</b><br />
  <div id='mp3_intro'></div>
</p>

<br />
<% end %>

<% if @workout.mp3_part_one %>
<p>
  <b>Part 1 MP3:</b><br />
  <div id='mp3_part_one'></div>
</p>

<br />
<% end %>

<% if @workout.mp3_part_two %>
<p>
  <b>Part 2 MP3:</b><br />
  <div id='mp3_part_two'></div>
</p>

<br />
<% end %>

<% if @workout.mp3_part_three %>
<p>
  <b>Part 3 MP3:</b><br />
  <div id='mp3_part_three'></div>
</p>

<br />
<% end %>

<% if @workout.mp3_unguided %>
<p>
  <b>Unguided MP3:</b><br />
  <div id='mp3_unguided'></div>
</p>

<br />
<% end %>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>

<!MP3 Longtail players >

<% if @workout.mp3_intro %>
  <script type="text/javascript">
    var so = new SWFObject('../player.swf','player','300','24','9');
    so.addParam('allowfullscreen','false');
    so.addParam('wmode','opaque');
    so.addVariable('file','../uploads/mp3s/<%= "#{@workout.mp3_intro_file_name}" %>');
    so.write('mp3_intro');
  </script>
<% end %>

<% if @workout.mp3_part_one %>
  <script type="text/javascript">
    var so = new SWFObject('../player.swf','player','300','24','9');
    so.addParam('allowfullscreen','false');
    so.addParam('wmode','opaque');
    so.addVariable('file','../uploads/mp3s/<%= "#{@workout.mp3_part_one_file_name}" %>');
    so.write('mp3_part_one');
  </script>
<% end %>

<% if @workout.mp3_part_two %>
  <script type="text/javascript">
    var so = new SWFObject('../player.swf','player','300','24','9');
    so.addParam('allowfullscreen','false');
    so.addParam('wmode','opaque');
    so.addVariable('file','../uploads/mp3s/<%= "#{@workout.mp3_part_two_file_name}" %>');
    so.write('mp3_part_two');
  </script>
<% end %>

<% if @workout.mp3_part_three %>
  <script type="text/javascript">
    var so = new SWFObject('../player.swf','player','300','24','9');
    so.addParam('allowfullscreen','false');
    so.addParam('wmode','opaque');
    so.addVariable('file','../uploads/mp3s/<%= "#{@workout.mp3_part_three_file_name}" %>');
    so.write('mp3_part_three');
  </script>
<% end %>

<% if @workout.mp3_unguided %>
  <script type="text/javascript">
    var so = new SWFObject('../player.swf','player','300','24','9');
    so.addParam('allowfullscreen','false');
    so.addParam('wmode','opaque');
    so.addVariable('file','../uploads/mp3s/<%= "#{@workout.mp3_unguided_file_name}" %>');
    so.write('mp3_unguided');
  </script>
<% end %>

