<!DOCTYPE html>
<html>
<head>
  <title>EmotionPilates</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "swfobject",
                             "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js",
                             "rails",
                             "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

<header>
  <% if !user_signed_in? %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Sign in", new_user_session_path %>
  <% else %>
    Signed in as <%= current_user.nickname %>
    <%= link_to "Sign out", destroy_user_session_path %>
  <% end %>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>

